<div class="eri_brand_wrap">
  <h2>About Us</h2>
  <div class="eri_brands">
    <div class="eri_brand1">
      <div class="brand_imgs brand_img1" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="500"></div>
      <div class="brand_text">
        <h4 data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="500">환경과 나의 건강한 변화를 완성하는<br class="mobile_v"> 클린 비건 뷰티 에리제론</h4>
        <p data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="500">강한 생명력으로 어느 곳에서도 아름답게 피어나는 에리제론은 <br>
          생명의 가치를 지키기 위해 동물실험을 배제한 천연 식물성 원료만을<br>
          사용하여 모두가 행복할 수 있는 새로운 아름다움을 제시 하는 비건 브랜드입니다</p>
      </div>
    </div>
    <div class="eri_brand2">
      <div class="brand_imgs brand_img2"  data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="1000"></div>
      <div class="brand_text">
        <h4 data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="1000">한땀 한땀 정성들여 손끝으로 전하는 진심,<br class="mobile_v"> 에리제론 핸드메이드</h4>
        <p data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="1000">에리제론의 전 제품은 YJS Lab 자체연구 뿐 아니라<br>
          100% 핸드메이드 공정으로 제작하여<br>
          단단하고 무르지 않는 높은 퀄리티의 제품을 선사합니다</p>
      </div>
    </div>
    <div class="eri_brand3">
      <div class="brand_imgs brand_img3"  data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="1500"></div>
      <div class="brand_text">
        <h4 data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="1500">모두가 행복해지는 한걸음,<br class="mobile_v"> 공생을 위한 플라스틱 프리</h4>
        <p data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="1500">사탕수수 부산물로 만든 단상자, 마음을 전할 수 있는 자작나무 패키지, 배송상자, 종이 테이프와 완충제까지<br>
          에리제론은 모두의 공생을 위해 플라스틱프리 패키지를<br>
          사용하여 제품을 포장하고 있습니다</p>
      </div>
    </div>
  </div>
</div>
<div class="b140"></div>