<!-- 풋터 -->
<footer>
  <div class="w1480">
    <div class="f_top">
      <ul>
        <li class="desc"><a href="#">COMPANY</a></li>
        <li class="desc"><a href="#">AGREEMENT</a></li>
        <li class="desc"><a href="#">PRIVACY POLICY</a></li>
        <li class="desc"><a href="#">GUIDE</a></li>
        <li><a href="#"><img src="img/facebookLogo.png" alt="facebook"></a></li>
        <li><a href="#"><img src="img/icon_sns_i_w.png" alt="insta"></a></li>
      </ul>
    </div>
    <div class="f_bot">
      <p><span>COMPANY</span>와이제이에스</p>
      <p><span>ADRESS</span>경기도 성남시 분당구 대왕판교로645번길 12, 9층</p>
      <p><span>CEO</span>심연정</p>
      <p><span>BUSINESS LICENSE</span>734-19-00783</p>
      <p><span>ONLINE PERMIT NO</span>제 2018-성남분당A-0360 호</p>
      <ul>
        <li><span>CS CENTER</span>070-4105-5165 (월~금: AM 09:00~PM 06:00)</li>
        <li><span>E-MAIL</span>erigeron@erigeron.co.kr</li>
      </ul>
      <p class="copy">copyright &copy; www.erigeron.co.kr all rights reserved.</p>
    </div>
  </div>
</footer>