<!-- 메인1 -->
<section class="main1">
  <!-- Swiper -->
  <div class="swiper keySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="desc" src="img/key1.jpg" alt="web_img">
        <img class="mobile" src="img/mkey1.png" alt="mo_img">
      </div>
      <div class="swiper-slide">
        <img class="desc" src="img/key2.jpg" alt="web_img">
        <img class="mobile" src="img/mkey2.png" alt="mo_img">
      </div>
      <div class="swiper-slide">
        <img class="desc" src="img/key3.jpg" alt="web_img">
        <img class="mobile" src="img/mkey3.png" alt="mo_img">
      </div>
      <div class="swiper-slide">
        <img class="desc" src="img/key4.jpg" alt="web_img">
        <img class="mobile" src="img/mkey4.png" alt="mo_img">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- 메인2  -->
<section class="main2 w1480 p120">
  <article class="main2_txt">
    <h2><a href="/product">New Products</a></h2>
    <p>에리제론의 새로운 상품을 소개합니다.</p>
  </article>
  <div>
    <ul class="new_pro_manu_wrap">
      <li>
        <a class="new_bg_img new_bg_img1" href="/product"><img class="new_img" src="img/npro1.jpg" alt="newpro"></a>
        <div class="txt_wrap">
          <p class="txt_title"><a href="/product">자작나무 패키지 선물세트</a></p>
          <p class="price"><a href="#">95,800원</a></p>
        </div>
      </li>
      <li>
        <a class="new_bg_img new_bg_img2" href="/product"><img class="new_img" src="img/npro2.jpg" alt="newpro"></a>
        <div class="txt_wrap">
          <p class="txt_title"><a href="/product">하우스워밍 선물세트 비건 샴푸바</a></p>
          <p class="price"><a href="#">55,000원</a></p>
        </div>
      </li>
      <li>
        <a class="new_bg_img new_bg_img3" href="/product"><img class="new_img" src="img/npro3.jpg" alt="newpro"></a>
        <div class="txt_wrap">
          <p class="txt_title"><a href="/product">그린스타터 선물세트 비건 샴푸바</a></p>
          <p class="price"><a href="#">33,000원</a></p>
        </div>
      </li>
      <li>
        <a class="new_bg_img new_bg_img4" href="/product"><img class="new_img" src="img/npro4.jpg" alt="newpro"></a>
        <div class="txt_wrap">
          <p class="txt_title"><a href="/product">올인원 비건 뷰티볼 샴푸볼 선물세트</a></p>
          <p class="price"><a href="#">77,400원</a></p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- 메인3  -->
<section class="main3 w1480">
  <div class="main3_txt">
    <h2>“It’s time to pamper yourself” </h2>
    <p>비건 협회 비건 소사이어티 인증을 받은 에리제론은<br>
      생명의 가치를 지키기 위해 동물실험을 배제한 천연 식물성 원료만을 사용하여<br>
      모두가 행복할 수 있는 새로운 아름다움을 제시 하고있습니다.</p>
  </div>
  <div class="main3_img">
  </div>
</section>

<!-- 메인4 -->
<section class="main4 p120 w1480">
  <article class="main4_txt">
    <h2><a href="#">Best Products</a></h2>
    <p>에리제론의 베스트 상품을 소개합니다.</p>
  </article>
  <!-- Swiper -->
  <div class="swiper best_pro">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img1" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">올인원 비건 샴푸바 어성초그린</a></p>
          <p class="h_tag"><a href="#">#두피케어</a></p>
          <p class="price"><a href="#">19,200원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img2" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">올인원 비건 샴푸볼 블랙차콜</a></p>
          <p class="h_tag"><a href="#">#지성용 #트러블케어</a></p>
          <p class="price"><a href="#">19,200원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide">
          <div class="best_img">
            <a class="best_img3" href="/product"></a>
          </div>
          <div class="txt_wrap">
            <p class="txt_title"><a href="#">올인원 비건 샴푸바 핑크클레이</a></p>
            <p class="h_tag"><a href="#">#지복합성용 #민감두피</a></p>
            <p class="price"><a href="#">19,200원</a></p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide">
          <div class="best_img">
            <a class="best_img4" href="/product"></a>
          </div>
          <div class="txt_wrap">
            <p class="txt_title"><a href="#">올인원 비건 샴푸바 스노우오트밀</a></p>
            <p class="h_tag"><a href="#">#건성용</a></p>
            <p class="price"><a href="#">19,200원</a></p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img5" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">올인원 비건 뷰티볼 단호박</a></p>
          <p class="h_tag"><a href="#">#모든피부적합 #영양</a></p>
          <p class="price"><a href="#">19,800원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img6" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">올인원 비건 뷰티볼 비트</a></p>
          <p class="h_tag"><a href="#">#모든피부적합 #활력</a></p>
          <p class="price"><a href="#">19,800원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img7" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">에리제론 잘삼 스크럽 주머니</a></p>
          <p class="price"><a href="#">5,500원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img8" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">에리제론 네트백</a></p>
          <p class="price"><a href="#">6,900원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img9" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">에리제론 원목 비누받침</a></p>
          <p class="price"><a href="#">6,500원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img10" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">에리제론 햄프씨드 비건 멀티밤</a></p>
          <p class="h_tag"><a href="#">#보습</a></p>
          <p class="price"><a href="#">28,000원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img11" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">에리제론 원목 머리빗</a></p>
          <p class="price"><a href="#">10,000원</a></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="best_img">
          <a class="best_img12" href="/product"></a>
        </div>
        <div class="txt_wrap">
          <p class="txt_title"><a href="#">에리제론 친환경 대나무 칫솔</a></p>
          <p class="price"><a href="#">3,500원</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="next_button"></div>
  <div class="prev_button"></div>
  <div class="pagination"></div>
</section>

<!-- 메인5 -->
<section class="main5">
  <div>
    <div class="main5_txt">
      <h2>모두를 위한 비건 클린 뷰티,<br>
        에리제론</h2>
      <p>자연의 생명력을 피부에 전하다.</p>
    </div>
  </div>
</section>

<!-- 메인6 -->
<section class="main6 p120 w1480">
  <article class="main6_txt">
    <h2>#With ERIGERON</h2>
    <p>에리제론 ERIGERON(@erigeron_ecofriendly)</p>
  </article>
  <div class="swiper main6_sns">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="in_img1"><a href="#"><span class="in_sns"></span></a></div>
      </div>
      <div class="swiper-slide">
        <div class="in_img2"><a href="#"><span class="in_sns"></span></a></div>
      </div>
      <div class="swiper-slide">
        <div class="in_img3"><a href="#"><span class="in_sns"></span></a></div>
      </div>
      <div class="swiper-slide">
        <div class="in_img4"><a href="#"><span class="in_sns"></span></a></div>
      </div>
      <div class="swiper-slide">
        <div class="in_img5"><a href="#"><span class="in_sns"></span></a></div>
      </div>
    </div>
    <div class="pagination_but"></div>
  </div>
</section>