<div class="product_write_wrap">
  <p>썸네일 작성</p>
  <div class="product_write">
    <form method="post" action="/productw" enctype="multipart/form-data">
      <div class="product_write_list">
        <ul>
          <li>
            <label for="thumpro_img">이미지파일</label>
            <input type="file" name="thumpro_img" id="thumpro_img">
          </li>
          <li>
            <label for="thumpro_name">제품명</label>
            <input type="text" name="thumpro_name" id="thumpro_name">
          </li>
          <li>
            <label for="thumpro_tag">해쉬태그</label>
            <input type="text" name="thumpro_tag" id="thumpro_tag">
          </li>
          <li>
            <label for="thumpro_price">가격</label>
            <input type="text" name="thumpro_price" id="thumpro_price">
          </li>
        </ul>
      </div>
      <div class="product_write_btn"> 
        <input type="submit" value="확인">
      </div>
    </form>
  </div>
</div>
<div class="b140"></div>