@import url(common/header.css);
@import url(common/footer.css);
@import url(main.css);
@import url(brand.css);
@import url(product.css);
@import url(product_write.css);
@import url(product_updata_write.css);
@import url(product_view.css);
@import url(event_list.css);
@import url(notice_list.css);
@import url(notice_viewer.css);
@import url(notice_write.css);
@import url(notice_write_emend.css);
@import url(join.css);
@import url(login.css);

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #F9F5F2;
}
.w1480{
  max-width: 1480px;
  margin: 0 auto;
}
.p120{
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.p60{
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.p40{
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.b140{
  margin-top: 80px;
}
h2{
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 30px;
}
h2>a{
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 30px;
  text-decoration: none;
  color: #000;
}
article>p{
  font-size: 18px;
  padding-bottom: 40px;
}


/* 공통적인 미디어 쿼리 */
@media (max-width:1550px) {
  .w1480{
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
  }
}
@media (max-width:1400px) {
  .w1480{
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
  }
}
@media (max-width:1240px) {
  .w1480{
    max-width: 1240px;
  }
  /* 공통 폰트 사이즈 */
  h2{
    font-size: 30px;
  }
  h2>a{
    font-size: 30px;
  }
  article>p{
    font-size: 16px;
  }
  /* 서브페이지 공통 최하단 높이박스 */
  .b140{
    margin-top: 68px;
 }
}

@media (max-width:1120px){
  .w1480{
    max-width: 1120px;
  }
}

@media (max-width:1000px){
  .w1480{
    max-width: 1000px;
  }
  .p60{
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width:769px){
  /* 공통 사이즈 */
  .p120{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .p40{
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .w1480{
    max-width: 769px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  h2{
    padding-bottom: 20px;
  }
  h2>a{
    padding-bottom: 20px;
  }
  article>p{
    padding-bottom: 20px;
  }
  .desc{
    display: none;
  }
  .b140{
    margin-top: 48px;
 }
}

@media (max-width:580px){
  .w1480{
    max-width: 580px;
  }
  /* 공통 폰트 사이즈 */
  h2{
    font-size: 26px;
  }
  h2>a{
    font-size: 26px;
  }
  article>p{
    font-size: 16px;
  }
}

@media (max-width:500px){
  .w1480{
    max-width: 500px;
  }
  /* 공통 폰트 사이즈 */
  h2{
    font-size: 15px;
    padding-bottom: 10px;
  }
  h2>a{
    font-size: 15px;
  }
  article>p{
    font-size: 13px;
  }
}