/* 노티스 리스트 워랩 */
.notice_list_wrap{
   width: 100%;
   max-width: 1480px;
   margin: 0 auto;
   position: relative;
   top:80px; left:0;
   box-sizing: border-box;
}
.notice_list_wrap>h2{
   text-align: center;
   margin: 60px 0;
   padding-bottom: 0px;
}

/* 리스트업 */
.notice_list{
  width: 100%;
}
/* 리스트 제목 */
.notice_list_title {
   font-weight: bold;
   border-top: 1px solid;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
}

.notice_list_title li{
   text-align: center;
   line-height: 50px;
   border-bottom: 1px solid;
   box-sizing: border-box;
   font-size: 18px;
}

.noti_num{
   flex: 1;
}
.noti_title{
   flex: 3;
   text-align: left;
}
.noti_write{
   flex: 1;
}
.noti_day{
   flex: 1;
}
.noti_view{
   flex: 1;
}

/* 리스트 내용 */
.notice_list_cont {
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.notice_list_cont li{
   line-height: 50px;
   border-bottom: 1px solid #333;
   box-sizing: border-box;
   cursor: pointer;
}


/* 버튼 시작 */
.notice_btn{
   margin-top: 50px;
}
/* 글작성 버튼 */
.memo_write_btn{
   text-align: right;
}
#write_btn{
   width: 80px;
   height: 40px;
   background-color: #A58E74;
   border: 0;
   padding: 0;
   color: #fff;
   cursor: pointer;
   font-size: 18px;
}
/* 페이지 버튼 */
.memo_page_btn{
   text-align: center;
}
.list_page_num{
   width: 40px;
   height: 40px;
   background-color: #A58E74;
   border: 0;
   padding: 0;
   color: #fff;
   cursor: pointer;
   font-size: 18px;
}
/* 페이지 검색 */
.notice_list_btn{
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
}
/* 검색 셀렉트 박스 */
#notice_select{
   width: 80px;
   padding: 0;
   margin: 0;
   border: 1px solid;
   height: 40px;
   box-sizing: border-box;
}
/* 검색 텍스트 박스 */
.memo_search_wrap input{
   width: 300px;
   padding: 0;
   margin: 0 10px;
   border: 1px solid;
   height: 40px;
   box-sizing: border-box;
   border-radius: 0;
}
/* 검색버튼 */
.memo_search_btn button{
   width: 80px;
   margin: 0;
   background-color: #A58E74;
   border: 0;
   padding: 0;
   color: #fff;
   cursor: pointer;
   font-size: 18px;
   line-height: 40px;
   border-radius: 0;
}





/* 미디어쿼리 */
@media (max-width:1400px) {
   /* 노티스 리스트 워랩 */
   .notice_list_wrap{
     max-width: 1400px;
     padding-right: 10px;
     padding-left: 10px;
     box-sizing: border-box;
   }
 }
 @media (max-width:1240px){
   /* 노티스 리스트 워랩 */
   .notice_list_wrap{
      max-width: 1240px;
      top:68px;
   }
   .notice_list_wrap>h2{
      margin: 30px 0;
   }
   /* 버튼 시작 */
   .notice_btn{
      margin-top: 30px;
   }
   /* 페이지 검색 */
   .notice_list_btn{
      margin-top: 30px;
   }
 
 }
 @media (max-width:1000px){
   /* 노티스 리스트 워랩 */
   .notice_list_wrap{
     max-width: 1000px;
    }
   /* 리스트 제목 */
   .notice_list_title li{
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    
    /* 리스트 내용 */
    .notice_list_cont li{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }

   /* 버튼 시작 */
   #write_btn{
      font-size: 16px;
   }
   /* 페이지 버튼 */
   .list_page_num{
      font-size: 16px;
   }
   /* 검색버튼 */
   .memo_search_btn button{
      font-size: 16px;
   }
  }

  @media (max-width:769px){
   /* 노티스 리스트 워랩 */
   .notice_list_wrap{
    max-width: 769px;
    top:48px;
   }
 }

 @media (max-width:680px){
   /* 노티스 리스트 워랩 */
   .notice_list_wrap{
     max-width: 680px;
   }
   /* 리스트 제목 */
   .notice_list_title li{
    font-size: 14px;
    line-height: 30px;
  }
  
  /* 리스트 내용 */
  .notice_list_cont li{
    font-size: 13px;
    line-height: 30px;
  }
  .noti_title{
   flex: 1;
   }
   /* 버튼 시작 */
   #write_btn{
   width: 60px;
   height: 30px;
   font-size: 14px;
   }
   /* 페이지 버튼 */
   .list_page_num{
      width: 30px;
      height: 30px;
      font-size: 14px;
   }

   #notice_select{
      width: 60px;
      height: 30px;
   }
   /* 검색 텍스트 박스 */
   .memo_search_wrap input{
      width: 200px;
      height: 30px;
   }

   /* 검색버튼 */
   .memo_search_btn button{
      width: 60px;
      font-size: 16px;
      line-height: 30px;
      font-size: 14px;
   }
  }

  @media (max-width:420px){
   /* 검색 셀렉트 박스 */
   #notice_select{
      width: 80vw;
   }
   /* 검색 텍스트 박스 */
   .memo_search_wrap input{
      width: 80vw;
      margin: 10px 0;
   }
   /* 검색버튼 */
   .memo_search_btn button{
      width: 80vw;
   }
}