.join_wrap{
   position: relative;
   top:80px; left:0;
}
.join{
   width: 100%;
   max-width: 500px;
   margin: 0 auto;
   box-sizing: border-box;
}
.join>h2{
   text-align: center;
}
 .join_table_wrap{
   width: 100%;
   max-width: 500px;
   margin: 0 auto;
 }
 .join_table li p {
   line-height: 50px;
 }
 .join_table label{
   height: 50px;
 }
 .join_table input{
   border: 0;
   padding: 0;
   margin: 0;
   height: 50px;
   width: 100%;
   background-color: transparent;
   border-bottom: 1px solid #d9d9d9;
   box-sizing: border-box;
 }
 .join_table span{
   color: #a20000;
 }
/* 버튼 */
.join_btn{
   text-align: center;
}
#join_reset{
   width: 150px;
   height: 40px;
   padding: 0;
   cursor: pointer;
   font-size: 18px;
   background-color: #fff;
   border: 1px solid #A58E74;
   border-radius: 0;
   color: #A58E74;
   margin-right: 10px;
}
#join_check{
   width: 150px;
   height: 40px;
   padding: 0;
   cursor: pointer;
   font-size: 18px;
   background-color: #A58E74;
   border: 0;
   border-radius: 0;
   color: #fff;
}



/* 미디어쿼리  */
@media (max-width:1240px) {
   .join_wrap{
      top:68px;
   }
   /* 버튼 */
}
@media (max-width:769px){
   .join_wrap{
      top:48px;
   }
 }

 @media (max-width:580px){
   /* 버튼 */
   #join_reset{
      font-size: 16px;
   }
   #join_check{
      font-size: 16px;
   }
 }
 
 @media (max-width:500px){
   .join>h2{
      font-size: 20px;
   }
   .join_table li p{
      font-size: 12px;
   }
   .join_table label{
      font-size: 14px;
   }
   .join_table input{
      font-size: 14px;
   }
   /* 버튼 */
   #join_reset{
      width: 80px;
      height: 30px;
      font-size: 15px;
   }
   #join_check{
      width: 80px;
      height: 30px;
      font-size: 15px;
   }
 }