/* 서브페이지 배너 */
.sub_banner>div{
  width: 100%;
  padding-top: 40%;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top:80px; left:0;
}
.sub_banner_txt{
  position: absolute;
  top:10%; left:10%;
  text-align: center;
}
.sub_banner_txt>h2{
  color: #fff;
}
.sub_banner_txt>p{
  color: #000;
  font-size: 32px;
}

/* 서브페이지 프로덕트 메뉴 */
.sub_pro_menu_wrap{
  margin-top: 80px;
  padding-bottom: 120px;
}
.sub_pro_menu{
  position: sticky;
  top:0px; left: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}
.sub_pro_menu.scroll-menu{
  backdrop-filter: blur(30px);
}
.sub_pro_menu>ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub_pro_menu a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-right: 100px;
  font-size: 18px; 
}
.sub_pro_menu a{
  margin-right: 0;
}

/*서브페이지 프로덕트 제품 */
/* 샴푸볼 */
.sp_wrap>ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sp_wrap>ul>li{
  width: calc(25% - 20px);
  cursor: pointer;
}
.sp_ball_img>img{
  display: block;
  width: 100%;
  height: 100%;
}
/* 뷰티볼 */
.bt_wrap>ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bt_wrap>ul>li{
  width: calc(25% - 20px);
  cursor: pointer;
}
.bt_ball_img>img{
  display: block;
  width: 100%;
  height: 100%;
}
/* 기프트세트 */
.gf_wrap>ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gf_wrap>ul>li{
  width: calc(25% - 20px);
  cursor: pointer;
}
.gf_set_img>img{
  display: block;
  width: 100%;
  height: 100%;
}

/* 굿즈세트 */
.gds_wrap>ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gds_wrap>ul>li{
  width: calc(25% - 20px);
  cursor: pointer;
}
.gds_img>img{
  display: block;
  width: 100%;
  height: 100%;
}

/* 미디어쿼리*/
@media (max-width:1400px) {
  /*서브페이지 프로덕트 제품 */
  .sp_wrap>ul>li{
    width: calc(25% - 10px);
  }
  .bt_wrap>ul>li{
    width: calc(25% - 10px);
  }
  .gf_wrap>ul>li{
    width: calc(25% - 10px);
  }
  .gds_wrap>ul>li{
    width: calc(25% - 10px);
  }

  }
@media (max-width:1240px) {
/* 서브페이지 배너 */
  .sub_banner>div{
    top:68px;
  }
  .sub_banner_txt>p{
    font-size: 22px;
  }
}
@media (max-width:1000px){
  /* 서브페이지 배너 */
  .sub_banner_txt{
    top:5%; left:5%;
  }
  .sub_banner_txt>h2{
    color: #000;
  }
  /*서브페이지 프로덕트 제품 */
  .sp_wrap>ul>li{  
    width: calc(50% - 10px);
  }
  .bt_wrap>ul>li{
    width: calc(50% - 10px);
  }
  .gf_wrap>ul>li{
    width: calc(50% - 10px);
  }
  .gds_wrap>ul>li{
    width: calc(50% - 10px);
  }
  /* 서브페이지 프로덕트 메뉴 */
  .sub_pro_menu_wrap{
    margin-top: 70px;
  }
  .sub_pro_menu{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .sub_pro_menu a{
    font-size: 16px;
  }

}

@media (max-width:769px){
  /* 서브페이지배너 */
  .sub_banner>div{
    position: relative;
    top:48px;
  }
  .sub_banner_txt>h2{
    font-size: 22px;
  } 
  .sub_banner_txt>p{
    font-size: 16px;
  }
    /* 프로덕트메뉴 */
  .sub_pro_menu_wrap{
    margin-top: 50px;
    padding-bottom: 60px;
  }
  .sub_pro_menu a{
    margin-right: 25px;
  }
}
@media (max-width:580px){
  /* 서브페이지 배너 */
  .sub_banner_txt>h2{
    font-size: 18px;
    padding-bottom: 10px;
  }
  .sub_banner_txt>p{
    font-size: 14px;
  }
  /* 프로덕트메뉴 */
  .sub_pro_menu{
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .sub_pro_menu a{
    font-size: 14px;
    margin-right: 20px;
  }
  
}


@media (max-width:500px){
  /* 서브페이지 배너 */
  .sub_banner_txt{
    top:25%; left:3%;
    text-align: left;
  }
  .sub_banner_txt>h2{
    font-size: 12px;
  }
  .sub_banner_txt>p{
    font-size: 10px;
  }
  /* 프로덕트메뉴 */
  .sub_pro_menu{
    display: none;
  }
  #sp_ball{
    padding-top: 10%;
  }
}