/* 풋터 */
footer{
  background-color: #A58E74;
  padding: 30px 0;
}
/* 풋터 탑 메뉴 */
.f_top{
  padding-bottom: 30px;
}
.f_top>ul{
  display: flex;
  justify-content: flex-end;
}
.f_top>ul>li>a{
  font-size:  14px;
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
  display: block;
}
.f_top>ul>li>a>img{
  display: block;
  width: 23px;
  height: 23px;
}

/* 풋터 바텀 메뉴 */
.f_bot{
  font-size:  14px;
  color: #fff;
}
.f_bot p{
  font-weight: 200;
}
.f_bot span{
  font-weight: 400;
  margin-right: 10px;
}
.f_bot ul li{
  font-weight: 200;
}
.copy{
  margin-top: 20px;
}



/* 미디어 쿼리 */
@media (max-width:769px){
  /* 풋터 */
  footer{
    padding: 20px 0;
  }
  .f_top{
    padding-bottom: 20px;
  }
  .f_top>ul>li>a{
    margin-left: 15px;
  }
  .f_bot{
    text-align: center;
  }
}
